body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8cd4e66b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

header {
    background-image: url(/assets/img/bg-top2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

h1 {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    box-shadow: 1px 1px 20px rgba(0, 41, 75, 0.445);
    border-radius: 16px;
    padding: 20px 50px;
    max-width: 25%;
}

.dish-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.outer-card-container {
    background-color: #cecece28;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(8px);
    box-shadow: 1px 1px 20px rgba(82, 82, 82, 0.301);
    border-radius: 16px;
    padding: 5px 10px;
}


.dish-card-price-and-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5px 10px 0px;
}


.dish-card img {
    object-fit: cover;
    border-radius: 16px;
    aspect-ratio: 2/1;
}

main {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav {
    margin: 20px;
}

h1 {
    color: white;
    font-size: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    padding-bottom: 20px;
}


a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #7F405B;
}

a:hover {
    cursor: pointer;
    background-color: #f5b400;
}

header {
    background-color: #3B7D4F;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}

button {
    background-color: #C83C3C;
    color: #FFFFFF;
}

.dish-text {
    max-width: 30%;
}


.montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}