*{
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e79969;
    background: linear-gradient(
      15deg,
      #464646,
      #686868,
      #505050,
      #303030,
      #242424
      
    );

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
}

.montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer {
    padding: 60px 20px;
}

h2{
    margin-block: 0;
}