@import url(assets/sheets/standard.css);
@import url(assets/sheets/header.css);
@import url(assets/sheets/content.css);
@import url(assets/sheets/footer.css);

@font-face {
    font-family: 'Merienda-regular';
    font-weight: 400;
    src: url(assets/fonts/Merienda-Regular.ttf);
}

@font-face {
    font-family: 'Merienda-bold';
    font-weight: 700;
    src: url(assets/fonts/Merienda-Bold.ttf);
}