.dish-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 200px;

    
}

.outer-card-container{
    max-width: 1440px;
    border: 1px solid red;
}


.dish-card-price-and-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5px 10px 0px;
}

main {

    display: flex;
    flex-direction: column;
}