body {
    min-height: 100vh;
    justify-content: flex-start;
    margin-top: 15vh;
}

.outer-impressum-container {
    width: min(80%, 1440px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
}

#generator_results {
    width: min(80%, 1440px);
}