#basket {
    width: 350px;
    min-height: 100%;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
}

.basket-container{
    display: flex;
}

.basket-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 15px;
    background-color: rgb(51, 51, 51);
    color: white;
}

#basket-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(15deg, #bd4107, #d3460f, #db6b14, #ff7a15, #dd3131, #f88007, #ff0000);
    background-size: 300%;
    padding: 5px;
    margin-top: 12px;
}

.item-basket-display-none {
    display: none;
}

.cost-in-basket-container {
    background: linear-gradient(15deg, #bd4107, #d3460f, #db6b14, #ff7a15, #dd3131, #f88007, #ff0000);
    background-size: 300%;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    padding: 10px 5px;
}

.dialog-btn {
    height: 40px;
}

aside h2{
    color: white;
    margin-bottom: 40px;
    font-size: 40px;
}

.delivery-or-pickup-container{
    display: flex;
    justify-content: space-between;
}

.btn-delivery {
    width: 48%;
}

.btn-pickup {
    width: 48%;
}