#basket {
    width: 350px;
    min-height: 100%;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
}

.basket-container{
    display: flex;
}

#basket-total-container{
    background-color: orangered;
    height: 60px;
    width: 100%;
    text-align: center;
}

#basket-delivery-cost{
    background-color: grey;
    height: 40px;
    margin: 20px 0px;
}

.basket-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 15px;
    background-color: rgb(51, 51, 51);
    color: white;
}

#basket-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-top: 12px;
}

.item-basket-display-none {
    display: none;
}