.basket {
    width: 400px;
    min-height: 100vh;
    height: 100dvh;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 72px;
}

#basket-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(70vh - 72px - 149px); /* buttons 4x = 20vh; decreased by 10 for visibility on scroll; 72px is top bar / 5x gap 20px = 100 + 49px from h2 */
    min-height: 35vh;
}

.basket-item {
    width: 100%;
    display: flex;
    margin: 10px 0px;
    padding: 15px;
    background-color: rgb(51, 51, 51);
    color: white;
    min-height: 120px;
}

#basket-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(15deg, #bd4107, #d3460f, #db6b14, #ff7a15, #dd3131, #f88007, #ff0000);
    background-size: 300%;
    padding: 5px;
    overflow-y: auto;
    color: white;
}

.item-basket-display-none {
    display: none;
}

.cost-in-basket-container {
    background: linear-gradient(15deg, #bd4107, #d3460f, #db6b14, #ff7a15, #dd3131, #f88007, #ff0000);
    background-size: 300%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    padding: 10px 5px;
    height: max(5%, 50px);
    color: rgb(255, 255, 255);
}

.dialog-btn {
    height: max(5%, 50px);
    font-size: 1rem;
    font-weight: 600;
}

aside h2{
    color: white;
    font-size: 40px;
}

.delivery-or-pickup-container{
    display: flex;
    justify-content: space-between;
    height: max(5%, 50px);
}

.btn-delivery {
    width: 48%;
    height: 100%;
    font-size: 24px;
}

.btn-pickup {
    width: 48%;
    height: 100%;
    font-size: 24px;
}

.cost-and-checkout-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.mobile-basket-opener {
    width: 100%;
    /* display: flex; */
    position: sticky;
    bottom: 0;
}

.mobile-basket-opener button{
    width: 100%;
    height: 7vh;
    height: 7dvh;
}

.ds-flex-basket-l {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    gap: 5px;
}

.ds-flex-basket-l button{
    width: 70%;
}

.ds-flex-basket-r {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 40%;
    gap: 5px;
}

.item-basket-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.item-basket-buttons-container span{
    width: 20px;
    text-align: center;
}

.order-list {
    width: 30%;
    height: auto;
    background: rgb(0, 0, 0);
}