.basket-card{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.basket-left-right {
    display: flex;
    flex-direction: column;
}

.basket-cart {
    height: 30px;
}

.basket-cart img{
    height: 30px;
    filter: invert(1);
}