#dish-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: min(90%, 1440px);
}

.card-scroll-container{
    overflow-x: scroll;
    scrollbar-color: #464545 #3f3e3e;
    padding: 5px;
    border-radius: 16px;
    width: 100%;
    max-width: 1440px;
}

#favorite-dishes {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.dish-card-favorite-box{
    display: flex;
    min-width: 600px;
}


.dish-card-price-and-button-fav{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 65px;
}

.main-content-area{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* min-height: 100vh;
    min-height: 100dvh; */
}

.outer-card-scroll-container {
    display: flex;
    flex-direction: column;
    width: min(90%, 1440px);
    margin: 40px 0px;
}

#mobile-category-header {
    margin-bottom: 40px;
}