/* dialog {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity .25s ease, transform .25s ease;
  pointer-events: none;
} */

/* Wenn der Dialog offen ist (showModal) */
/* dialog[open] {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
} */

/* Backdrop (Hintergrund abdunkeln) */
dialog::backdrop {
  background: rgba(0, 0, 0, 0);
  transition: background .25s ease;
} 
dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.dialog-header{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

.dialog-header img{
  height: 60px;
}

.dialog-text-box {
  min-height: 200px;
}

.dialog-payment-buttons-container {
  margin: 30px 0px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.dialog-payment-buttons-container button{
  height: 100%;
  width: 40%;
}

.note-in-summary {
  font-size: 0.8rem;
  font-weight: 300;
  color: red;
}

.order-summary {
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  font-size: 1.2rem;
}

dialog {
  background-color: rgb(102, 102, 102);
  border: 3px solid orangered;
  color: white;
}

dialog h2{
  font-size: 28px;
}

dialog button{
  font-size: 18px;
}

.close-basket-dialog-btn {
  width: 10% !important;
}