/* dialog {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity .25s ease, transform .25s ease;
  pointer-events: none;
} */

/* Wenn der Dialog offen ist (showModal) */
/* dialog[open] {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
} */

/* Backdrop (Hintergrund abdunkeln) */
dialog::backdrop {
  background: rgba(0, 0, 0, 0);
  transition: background .25s ease;
} 
dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.dialog-header{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

.dialog-header img{
  height: 60px;
}

.dialog-text-box {
  min-height: 200px;
}

.dialog-payment-buttons-container {
  margin: 30px 0px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.dialog-payment-buttons-container button{
  height: 100%;
  width: 45%;
}