header img{
    filter: invert(1);
}

header {
    color: white;
    min-height: 72px;
}

.atf-box {
    background-image: url(/assets/img/mainDish/katsu-curry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: min(320px, calc(80dvh - 72px)); /* substracting top bar */
    width: 100%;
}

.atf-box img{
    aspect-ratio: 1/1;
    max-height: 200px;
    height: max(150px, 15dvh);
}

.header-box {
    background-color: #00000098;
    box-shadow: 0px 42px 40px rgba(255, 116, 3, 0.11);
    display: flex;
    justify-content: center;
    /* padding-left: calc(35% - 200px); */
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.header-icon-box {
    width: min(90%, 1440px);
}