.icon_container  {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}

.header_logo {
    height: 100px;
    filter: invert(60%) sepia(97%) saturate(398%) hue-rotate(358deg) brightness(104%) contrast(108%);
}

.header_section{
    padding: 30px;
    background-image: url(../../img/Gegrilltes\ Steak\ Mit\ Kirschtomaten\ Und\ Kräutern.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 100%;
    filter: brightness(0.4);
}

.header_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Merienda-regular';
    text-shadow: 5px 2px 8px rgb(37, 6, 6);
    color: #ffbc11;
    margin-block: 0;
}

.header_text p{
    margin-block: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

header {
    position: absolute;
    top: 80px;
    max-width: 1440px;
    width: 100%;
}