.active-category {
    border: 2px solid rgb(26, 2, 2);
    transition: border 0s;
    transition: background-position 0.5s;
}

.active-category:hover {
    transition: border 0s;
    transition: background-position 0.5s;
}

nav {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.75rem;
    border-radius: 40px;
    background-color: #250e00;
    background: linear-gradient(
        15deg,
        #bd4107,
        #d3460f,
        #db6b14,
        #ff7a15,
        #dd3131,
        #f88007,
        #ff0000
    );
    background-size: 300%;
    background-position: center left;
    border: 2px solid transparent;
    transition: background-position 0.5s;
}

nav a:hover {
    cursor: pointer;
    background-size: 330%;
    background-position: center right;
    transition: 0.5s ease;
}

button {
    background-color: #250e00;
    background: linear-gradient(
        15deg,
        #bd4107,
        #d3460f,
        #db6b14,
        #ff7a15,
        #dd3131,
        #f88007,
        #ff0000
    );
    background-size: 300%;
    background-position: center left;
    transition: background-position 0.5s;
}

button:hover {
    cursor: pointer;
    background-size: 330%;
    background-position: center right;
    transition: 0.5s ease;
}