.resp_menu_box {
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;

    width: 180px;
    height: 350px;

    position: fixed;
    top: 72px;
    right: 0;

    transition: all 250ms ease-in-out;
    border: 2px solid gold;
}

.resp_menu_box ul {
    display: flex;
    flex-direction: column;
    color: white;
}

.top-content {
    width: 100%;
    position: relative;
    background-color: rgb(22, 22, 22);
    overflow-x: hidden;
    position: sticky;
    top: 0;
}

.resp_menu_closed {
    transform: translateX(100%);
}