.resp_menu_box {
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 240px;
    right: 0;
    margin: 0;
    transition: all 250ms ease-in-out;
}

.resp_menu_closed {
    transform: translateX(100%);
}

.resp_menu_links {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

