@media (max-width: 800px) {
    
    .dish-card {
        flex-direction: column;
        height: auto;
    }
    .dish-card img{
        width: 100%;
        
        aspect-ratio: 2/1  ;
    }
    .dish-card-price-and-button {
        /* flex-direction: row;
        justify-content: space-evenly; */
        width: 100%;
        align-items: center;
    }

    .dish-card-price-and-button button{
        width: 50%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-top: 20px;
    }
    
    .dish-text {
        width: 100%;
        text-align: center;
    }

    .outer-card-container{
        display: flex;
        flex: 1;
        min-width: 80vw;
    }

    .mobile-d-none{
        display: none;
    }
}

@media (min-width: 801px) {
    

    .dish-card img{
        max-width: 40%;
    }
}

@media (min-width: 1101px) {

    .desktop-d-none {
        display: none;
    }
}

@media (max-width: 1100px) {

    .mobile-d-none {
        display: none !important;
    }
}