.resp_menu_box {
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    min-height: 250px;
    max-height: 100vh;

    position: fixed;
    top: 72px;
    right: 0;

    transition: all 250ms ease-in-out;
    border: 2px solid #cc4e00;
}

.resp_menu_box ul {
    display: flex;
    flex-direction: column;
    color: white;
}

.resp_menu_box li {
    padding: 10px 20px;
}

.resp_menu_box li:hover {
    cursor: pointer;
    background-color: grey;
}

.top-content {
    width: 100%;
    position: relative;
    background-color: rgb(22, 22, 22);
    overflow-x: hidden;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 20px #cc4e00;
    z-index: 1;
}

.resp_menu_closed {
    transform: translateX(100%);
}

.resp_menu_box li {
    width: 100%;
}

.resp_menu_btn {
    width: 100%;
}

.resp_menu_link {
  display: flex;
  padding: 0.75rem 1.5rem;
  max-width: 100%;
  border-radius: 40px;
  justify-content: center;
}