@media (max-width: 800px) {

    .dish-card {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .dish-card img {
        width: 100%;

        aspect-ratio: 2/1;
    }

    .dish-card-price-and-button {
        width: 100%;
        align-items: center;
    }

    .dish-card-price-and-button button {
        width: 50%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-top: 20px;
    }

    .dish-card-price-and-button-fav {
        width: 100%;
        align-items: center;
    }

    .dish-card-price-and-button-fav button {
        width: 50%;
    }

    .dish-text {
        width: 100%;
        text-align: center;
    }

    .outer-card-container {
        display: flex;
        flex: 1;
        min-width: 65vw;
    }

    .mobile-d-none {
        display: none;
    }

    footer {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
}

@media (min-width: 801px) {


    .dish-card img {
        max-width: 40%;
    }
}

@media (min-width: 1266px) {

    .desktop-d-none {
        display: none;
    }
    ul {
        gap: 20px;
    }

}

@media (max-width: 1265px) {

    .mobile-d-none {
        display: none !important;
    }

    .top-level-bar {
        position: sticky;
        top: 0;
    }

    dialog:open {
        max-width: 100vw;
        max-height: 100vh;
        width: 100%;
        height: 100vh;
        height: 100dvh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mobile-basket-dialog:open {
        width: 100%;
        height: 100vh;
        height: 100dvh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #order-dialog-for-restaurant {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
}