body {
    margin: 0;
    margin-block: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #22201a;
    background-color: #2e2d2c;
    /* background-image: url(../../img/marmor-gold.jpg); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #b8870b;
}

h1, h2, h3 {
    font-family: 'Merienda-bold', sans-serif;
    margin-block: 0;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 45px;
}

p {
    font-size: 24px;
    font-family: 'Merienda-regular', sans-serif;
}

a {
    text-decoration: none;
    color: #b8870b;
    font-size: 40px;
    font-family: 'Merienda-bold', sans-serif;
}

.ds-fl-jc-center {
    display: flex;
    justify-content: center;
}

.ds-fl-spc-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.max-width1440 {
    max-width: 1440px;
    flex: 1;
    width: 100%;
}

.ds-fl-col-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pos-abs {
    position: absolute;
    top: 180px;
}

.line {
    height: 6px;
    width: 100%;
    background-color: black;
}

button {
    width: 40px;
    height: 40px;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #b8870b;
    border-radius: 8px;
}

button:hover {
    color: black;
    background-color: #b8870b;
}

.ds-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}