@import url(/assets/sheets/respMenu.css);
@import url(/assets/sheets/navigation.css);
@import url(/assets/sheets/standard.css);
@import url(/assets/sheets/header.css);
@import url(/assets/sheets/content.css);
@import url(/assets/sheets/card.css);
@import url(/assets/sheets/footer.css);

main {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    min-height: 100dvh;
}

button {
    background-color: #f75e00;
    color: #FFFFFF;
    border: none;
}

h1 {
    padding: 20px 50px;
    color: white;
    font-size: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    padding-bottom: 20px;
}

ul {
   height: max-content;
   box-sizing: border-box;
}

li{
    box-sizing: border-box;
    height: auto;
    height: fit-content;
    padding: 20px
}

.line{
    height: 5px;
    width: 100%;
    background-color: #bd4107;
    filter: blur(8px);
    margin-top: 3px;
}

.star {
    color: white;
    transition: color 0.3s;
    cursor: pointer;
}

.star:hover {
    color: gold;
}


.top-level-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.top-level-bar img{
    height: 40px;
}