@import url(/assets/sheets/respMenu.css);
@import url(/assets/sheets/footer.css);
@import url(/assets/sheets/navigation.css);
@import url(/assets/sheets/standard.css);
@import url(/assets/sheets/header.css);
@import url(/assets/sheets/content.css);
@import url(/assets/sheets/card.css);
@import url(/assets/sheets/basket.css);
@import url(/assets/sheets/dialog.css);
@import url(/assets/sheets/restaurantInfo.css);
@import url(/assets/sheets/responsive.css);


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: calc(100vw - 350px);
    margin-bottom: 40px;
}

.outer-main-container {
    display: flex;
    width: 100%;
}

button {
    background-color: #cc4e00;
    color: #FFFFFF;
    border: none;
    min-height: 1.5rem;
    min-width: 1.5rem;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:focus-visible {
    outline: 3px solid rgb(214, 213, 213);
    outline-offset: 1px;
}

h1 {
    /* padding: 0; */
    color: white;
    font-size: clamp(3rem, calc(10vw + 3rem), 6rem);
    margin-block-end: 0;
    margin-block-start: 40px;
}

h3 {
    margin-block: 0;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

ul {
   height: max-content;
   box-sizing: border-box;
   display: flex;
}

li{
    box-sizing: border-box;
    height: auto;
    height: fit-content;
}

li a{
    max-width: 20%;
    text-decoration: none;
    color: white;
}

.top-level-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(22, 22, 22);
}

.top-level-bar img{
    height: 40px;
}

.restaurant-rating-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.d_none{
    display: none;
}

aside {
    padding: 10px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resp-btn {
    background: rgba(255, 255, 255, 0);
    height: 40px;
}

.resp-btn img {
    height: 40px;
}

dl {
    color: white;
}

dd {
    margin-inline-start: 0;
}

.restaurant-infobox {
    display: flex;
    gap: 20px;
}