main   {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e79969;
    background: linear-gradient(
      15deg,
      #444244,
      #6b6568,
      #746b6b,
      #504f4f,
      #313030
    );

}

.wrapper {
    background-color: rgb(156, 60, 60);
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper p {
    font-size: 2rem;
    color: white;
}

.wrapper a {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.wrapper h2{
    font-size: 4rem;
    color: white;
}

.successful-order-header h1{
    font-size: 5rem;
    color: white;
}

.successful-order-main {
    min-height: 100vh;
}

.link-to-index {
    background-color: rgba(255, 251, 0, 0.452);
    padding: 20px;
    color: black !important;
    font-weight: 600;
    border-radius: 8px;
}